{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>缝芽网线上升级通知</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
         <!-- Bootstrap -->
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
    <div class="row clearfix center-block">
        <br/>
        <img  src="{% static 'images/logo.png' %}" class="img-responsive center-block" />
    </div>
    <div  class="row clearfix center-block">
        <h1 class="text-center" style="color: red">中国加油！武汉加油！</h1>
    </div>
    <br/>
    <br/>
    <div  class="row clearfix center-block">
        <img class="center-block" src="{% static 'images/flag.gif' %}">
    </div>
     <div  class="row clearfix center-block">
         <h3 class="text-center" >缝芽网2月9日起进行线上全面升级更新通知</h3>
         <h4 class="text-center" >缝芽网2月9日至2月14日进行线上全面升级更新，暂停充值入口，请勿私自充值，如充值造成的损失缝芽网不承担责任！</h4>
         <h4 class="text-center" >升级过程中给大家带来的不便我们十分抱歉，升级期间仍可点击如下连接进入主页进行文章浏览等功能，连接如下：</h4>
         <a href="https://www.yuntaoz.cn/index/"><h4 class="text-center" >www.yuntaoz.cn/index/</h4></a>
    </div>
    <div class="row clearfix">
    <div  class="col-md-6 col-md-offset-3 ">
         <h3 class="text-center" >更新内容</h3>
         <h4 class="text-left" >1、上线推广系统，用户可以成为推广人，分享知识连接绑定用户，分享收益；</h4>
         <h4 class="text-left" >2、上线激活推广人，推广人相关功能；</h4>
         <h4 class="text-left" >3、上线微信提现功能；</h4>
         <h4 class="text-left" >4、上线银行卡提现功能；</h4>
         <h4 class="text-left" >5、上线微信公众号推广大客户三方增粉平台功能；</h4>
         <h4 class="text-left" >6、上线每日关注公众号领取缝芽币，及区分充值与赠送缝芽币功能；</h4>
         <h4 class="text-left" >7、上线关注公众号免费阅读指定文章功能。</h4>
    </div>
    </div>
    <br/>
    <br/>
    <br/>
     <footer class="footer bs-docs-footer">
  <div class="container">
    <div class="row footer-bottom">
        <p class="text-center">声明：本站仅提供计算机程序开发、数据处理算法、编程培训服务，不提供资本市场具体个股，具体标的的投资咨询服务，敬请留意！</p>
        <!--div class="col-sm-6">
            <a href="http://gx.beian.miit.gov.cn/" target="_blank">ICP备案编号:桂ICP备19000645号</a>
        </div-->

      <ul class="list-inline text-center">
          <li><a href="http://gx.beian.miit.gov.cn/" target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">ICP备案编号:桂ICP备19000645号</p></a></li>
          <li><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45010702001199" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="{% static 'images/gh.png' %}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">桂公网安备 45010702001199号</p></a></li>
      </ul>
    </div>
  </div>
</footer>
    </body>
</html>
