{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}关于我们{% endblock %}

{% block css %}
    <style>
    .bg {
            background:url({% static 'images/bk.png' %}) no-repeat center;
            background-size:cover;
    }
    </style>
{% endblock %}

{% block content %}
    <header class="jumbotron masthead bg" style="height: 300px">
    <div class="container">
        <br/>
        <br/>
      <h1 style="color: white">关于石缝芽数据平台</h1>
      <p class="lead" style="color: white">石缝芽数据专注于股市投资量化策略研究与自动化投资系统开发。</p>
    </div>
  </header>
    <div class="container-fluid">

        <div class="col-md-6 col-md-offset-3">
            <br/>
            <h2>关于我们</h2>
            <hr/>
            <p>石缝芽数据(缝芽网 -- <a href="https://www.yuntaoz.cn">www.yuntaoz.cn</a>)专注于数据处理软件的开发，特别是对股市数据的量化研究颇有心得，也取得了一定成绩。针对广大非软件专业的股民，没有编程基础，石缝芽数据推出了EXCEL电子表格+VBA宏语言的处理模式。即便完全没接触过编程的股民，通过本平台分享的教程、资料、代码也能构建自己的量化炒股系统：把整个系统程序挂载在云服务器上，能实现读取行情数据——分析判断——自动下单——发送结果至主人手机上等一系列自动化运行，实现炒股的程序化、机械化，排除人为情绪的干扰，达到稳定的盈利。通过本站提供的运行框架、回测框架，量化研究爱好者，还能把自己的炒股策用程序表达实现，且通过回测来衡量算法的优越性，或优化策略。你也可以通过本站有尝分享你的策略代码，实现额外的收益。</p>
            <p>本站主要提供如下服务：</p>
            <p>1、分享石缝芽研究的整个自动化炒股VBA宏代码（分析策略除外）。</p>
             <p>2、对EXCEL的VBA编程提供培训指导。</p>
            <p>3、对客户提供的炒股策略编程实现，并提供回测。</p>
            <p>4、对客户提供有偿分享策略代码的平台。</p>
             <br/>
            <h2>提交您的代码或深度定制化服务</h2>
            <hr/>
            <p>如果您想要深度的定制化服务，或分享您的代码，请通过邮箱联系我们，微信公众号正在申请中，在邮件中请注明您需要的服务以及姓名、联系电话，石缝芽数据平台上传分享模块正在开发中！</p>
            <p>Mail： <a href="mailto:darksnl@163.com">darksnl@163.com</a></p>
             <br/>
            <h2>投资合作</h2>
            <hr/>
            <p>石缝芽数据平台正在融资中，广告位正在招商中，欢迎您投资或咨询。</p>
             <p>真诚的欢迎您加入我们，请通过邮箱联系我们，在邮件中请注明投资或广告投放，并附加上您所在机构及联系方式。</p>
            <p>Mail： <a href="mailto:darksnl@163.com">darksnl@163.com</a></p>
        </div>
    </div>


    <footer class="footer bs-docs-footer">
  <div class="container">
      <br/>
      <br/>
      <hr/>
    <div class="row footer-top">
      <div class="col-md-6 col-lg-6">
        <h5>
          <img src="{% static 'images/logo.png' %}" style="height:58px;width:169px">
        </h5>
        <p>我们一直致力于为广大股票投资者提供更多的优质量化策略及自动化投资技术！</p>
      </div>
      <div class="col-md-6  col-lg-5 col-lg-offset-1">
        <div class="row about">
          <div class="col-sm-6">
            <h4>关于</h4>
            <ul class="list-unstyled">
              <li><a href="/about/">关于我们</a></li>
              <li><a href="/ad/">广告合作</a></li>
            </ul>
          </div>
          <div class="col-sm-6">
            <h4>联系方式</h4>
            <ul class="list-unstyled">
              <li><a href="mailto:darksnl@163.com">darksnl@163.com</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <hr/>
    <div class="row footer-bottom">
        <p class="text-center">声明：本站仅提供计算机程序开发、数据处理算法、编程培训服务，不提供资本市场具体个股，具体标的的投资咨询服务，敬请留意！</p>
      <ul class="list-inline text-center">
        <li><a href="http://gx.beian.miit.gov.cn/" target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">ICP备案编号:桂ICP备19000645号</p></a></li>
          <li><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=45010702001199" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="{% static 'images/gh.png' %}" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">桂公网安备 45010702001199号</p></a></li>
      </ul>
    </div>
  </div>
</footer>
{% endblock %}