{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ titlename}}{% endblock %}

{% block content %}
     <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="row clearfix">
                <h2 class="text-center">{{ titlename}}</h2>
            </div>
            <HR>
            <div class="row clearfix">
                <nav style="text-align: center">
                    <div class="div-inline">作者：{{ userid }}  时间：{{ createtime }}  点击率：{{ clickrate }}</div>
                </nav>
            </div>
            <BR>
            <div class="row clearfix">
                <input id='temp' type='hidden'  value='{{content}}' />
                <p id="Uedit"></p>
                {% if filename %}
                    <HR>
                    <p>附件下载：</p>
                    <a href="/download/?title={{ titlename }}&currentPage={{ currentPage }}&cost={{ cost }}&filename={{ filename }}">{{ filename }}</a>
                    <p>下载花费缝芽币：{{ cost }}</p>
                {% endif %}
            </div>
        </div>
     </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function() {
        $("#Uedit").append($("#temp").val());
    })
    </script>
{% endblock %}