{% extends 'spreadinfo.html' %}
{% load staticfiles %}
{% load templatefilter %}
{% block title %}{{ contentname }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/userinfo.css' %}">

    <style>
         .class-button{
        background-color:white;
        outline: none;
        color: black;
        border-width: 1px;
        border-color:rgba(0,0,0,0);
        border-Radius:0px;
        font-size: 18px;
    }

         .class-button.active{
        background-color:white;
        outline: none;
        color: darkred;
       border-width: 0px;
        border-color:rgba(0,0,0,0);
        border-Radius:0px;
        font-size: 18px;
        box-shadow: none;
    }

    .class-button:hover{
        background-color:white;
        outline: none;
        color: darkred;
       border-width: 0px;
        border-color:whitesmoke;
        border-Radius:0px;
        font-size: 18px;
    }

    .class-button:focus{
        background-color:white;
        outline: none;
        color: darkred;
       border-width: 0px;
        border-color:whitesmoke;
        border-Radius:0px;
        font-size: 18px;
    }

    .class-h4{
        background-color:white;
        outline: none;
        color: black;
        border-width: 1px;
        border-color:rgba(0,0,0,0);
        border-Radius:0px;
        font-size: 20px;
        font-weight:bold;
    }
     ul li{list-style: none}

    .article-a:link{color:black}
     .article-a:visited{color:black}
    .article-a:hover{color:darkred;
        text-decoration: none;
    }
    </style>
{% endblock %}

{% block exchangecontent %}
    <div class="row clearfix">
           <div class="row clearfix">
                <h2 class="text-center">{{ contentname }}</h2>
           </div>
            <div class="modal fade" id="errorinfomodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                        <div class="modal-dialog">
		                        <div class="modal-content">
			                        <div class="modal-header">
				                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                                                                &times;
                                        </button>
				                        <h4 class="modal-title" id="myModalLabel">
					                               提示
                                        </h4>
			                        </div>
			                        <div class="modal-body">
                                        <h4 id="errorinfo" class="text-center"></h4>
			                        </div>
		                        </div><!-- /.modal-content -->
	                        </div><!-- /.modal -->
            </div>
            <div class="row clearfix" style="text-align: center;">
                <div class="row clearfix" style="text-align: center;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                 <th class="text-center">订单号</th>
                                <th class="text-center">提现金额</th>
                                <th class="text-center">申请时间</th>
                                <th class="text-center">银行卡号</th>
                                <th class="text-center">开户行</th>
                                <th class="text-center">订单状态</th>
                                <th class="text-center">申诉</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order_list %}
                            <tr>
                               <td>{{ order.orderid }}</td>
                                <td>{{ order.meony | div:100}}</td>
                                <td>{{ order.time | date:'Y-m-d H:i:s' }}</td>
                                <td>{{ order.bankid }}</td>
                                <td>{{ order.bankname }}</td>

                                {% if order.orderstate == 0 %}
                                    <td>失败</td>
                                {% elif order.orderstate == 1 %}
                                    <td>成功</td>
                                {% elif order.orderstate == 2 %}
                                    <td>审核中</td>
                                {% elif order.orderstate == 3 %}
                                    <td>打款中</td>
                                {% elif order.orderstate == -1 %}
                                    <td>审核不通过</td>
                                {% endif %}

                                {% if order.appeal == 0 %}
                                    <!--样式测试时添加-->
                                    <td><a id={{ order.orderid }} onclick="apeal(this.id)" type="button">申诉</a></td>
                                {% elif order.appeal == 1 %}
                                    <td>已申诉</td>
                                {% elif order.appeal == 2 %}
                                    <td>已处理请查看邮箱</td>
                                {% elif order.appeal == -1 %}
                                    <td>不可申诉</td>
                                {% endif %}

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row clearfix">
                 <nav style="text-align: center">
                        <ul class="pagination pagination-center" id="pager">
                                {#上一页按钮开始#}
                                {# 如果当前页有上一页#}
                            {% if order_list.has_previous %}
                                {#  当前页的上一页按钮正常使用#}
                                <li class="previous"><a href="/bankcashlist/?page={{ order_list.previous_page_number }}">上一页</a></li>
                            {% else %}
                                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                                <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                                {#上一页按钮结束#}
                                {# 页码开始#}
                            {% for num in paginator.page_range %}
                                {% if num == currentPage %}
                                     <li class="item active"><a href="/bankcashlist/?page={{ num }}">{{ num }}</a></li>
                                {% else %}
                                     <li class="item"><a href="/bankcashlist/?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                             {% endfor %}
                            {#页码结束#}
                            {# 下一页按钮开始#}
                            {% if order_list.has_next %}
                                <li class="next"><a href="/bankcashlist/?page={{ order_list.next_page_number }}">下一页</a></li>
                            {% else %}
                                <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                            {# 下一页按钮结束#}
                        </ul>
                 </nav>
            </div>
            </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        function apeal(id)
            {
                var orderid = id;
                $.ajax({
            url: '/spreadapeal/',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                orderid: orderid,
            },
            success: function (ret) {
               if(ret == 1)
            {
               $("#" + orderid).text("已申诉");
               $("#" + orderid).attr("disabled","disabled");
               $("#errorinfo").text("已收到您的申诉，对给您带来的困扰我们十分抱歉，我们会尽快处理，处理结果将发送到您的注册邮箱，祝您生活愉快！");
                $('#errorinfomodel').modal('show');
            }
            else if(ret == -1)
            {
                $("#errorinfo").text("申诉失败，请重新登录后在进行操作！");
                $('#errorinfomodel').modal('show');
            }
            }
        })
            }
    </script>
{% endblock %}