{% extends 'superindex.html' %}
{% load staticfiles %}
{% load templatefilter %}
{% block title %}{{ content }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/article.css' %}">
    <link rel="stylesheet" href="{% static 'css/superindex.css' %}">
    <style xmlns="http://www.w3.org/1999/html">
   </style>
{% endblock %}

{% block maincontent %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row clearfix">
                <h2 class="text-center">提现列表</h2>
           </div>
            <div class="row clearfix" style="text-align: center;">
                <div class="row clearfix" style="text-align: center;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">订单号</th>
                                <th class="text-center">用户名</th>
                                <th class="text-center">提现金额</th>
                                <th class="text-center">申请时间</th>
                                <th class="text-center">银行卡号</th>
                                <th class="text-center">开户行</th>
                                <th class="text-center">真实姓名</th>
                                <th class="text-center">打款成功</th>
                                <th class="text-center">打款失败</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in order_list %}
                            <tr>
                                <td>{{ order.orderid }}</td>
                                <td>{{ order.userid }}</td>
                                <td>{{ order.meony |div:100}}</td>
                                <td>{{ order.time | date:'Y-m-d H:i:s' }}</td>
                                <td>{{ order.bankid }}</td>
                                <td>{{ order.bankname }}</td>
                                <td>{{ order.realname }}</td>
                                <td><a href="/cashsucess/?id={{ order.orderid }}&identify=1&page={{ currentPage }}">打款成功</a></td>
                                <td><a href="/cashsucess/?id={{ order.orderid }}&identify=0&page={{ currentPage }}">打款失败</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row clearfix">
                 <nav style="text-align: center">
                        <ul class="pagination pagination-center" id="pager">
                                {#上一页按钮开始#}
                                {# 如果当前页有上一页#}
                            {% if order_list.has_previous %}
                                {#  当前页的上一页按钮正常使用#}
                                <li class="previous"><a href="/cashbank/?page={{ order_list.previous_page_number }}">上一页</a></li>
                            {% else %}
                                {# 当前页的不存在上一页时,上一页的按钮不可用#}
                                <li class="previous disabled"><a href="#">上一页</a></li>
                            {% endif %}
                                {#上一页按钮结束#}
                                {# 页码开始#}
                            {% for num in paginator.page_range %}
                                {% if num == currentPage %}
                                     <li class="item active"><a href="/cashbank/?page={{ num }}">{{ num }}</a></li>
                                {% else %}
                                     <li class="item"><a href="/cashbank/?page={{ num }}">{{ num }}</a></li>
                                {% endif %}
                             {% endfor %}
                            {#页码结束#}
                            {# 下一页按钮开始#}
                            {% if order_list.has_next %}
                                <li class="next"><a href="/cashbank/?page={{ order_list.next_page_number }}">下一页</a></li>
                            {% else %}
                                <li class="next disabled"><a href="#">下一页</a></li>
                            {% endif %}
                            {# 下一页按钮结束#}
                        </ul>
                 </nav>
            </div>
        </div>
        </div>
    </div>
{% endblock %}