{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            <br/>
            <img  src="{% static 'images/logo.png' %}" class="img-responsive center-block" />
        </div>
    </div>


    <footer class="footer navbar-fixed-bottom ">
        <div class="container-fluid">
            <div class="col-md-8 col-md-offset-2">
                <h5 class="text-center">石缝芽数据 版权所有</h5>
                <a href="http://www.miitbeian.gov.cn"><h5 class="text-center">ICP备案编号:桂ICP备19000645号</h5></a>
                <h5 class="text-center">联系方式：admin@940420.hzqiye.ntesmail.com</h5>
            </div>
        </div>
    </footer>
{% endblock %}