{% extends 'spreadinfo.html' %}
{% load staticfiles %}
{% load templatefilter %}
{% block title %}{{ contentname }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/userinfo.css' %}">

    <style>
         .class-button{
        background-color:white;
        outline: none;
        color: black;
        border-width: 1px;
        border-color:rgba(0,0,0,0);
        border-Radius:0px;
        font-size: 18px;
    }

         .class-button.active{
        background-color:white;
        outline: none;
        color: darkred;
       border-width: 0px;
        border-color:rgba(0,0,0,0);
        border-Radius:0px;
        font-size: 18px;
        box-shadow: none;
    }

    .class-button:hover{
        background-color:white;
        outline: none;
        color: darkred;
       border-width: 0px;
        border-color:whitesmoke;
        border-Radius:0px;
        font-size: 18px;
    }

    .class-button:focus{
        background-color:white;
        outline: none;
        color: darkred;
       border-width: 0px;
        border-color:whitesmoke;
        border-Radius:0px;
        font-size: 18px;
    }

    .sign-button{
        background-color:white;
        outline: none;
        color: darkred;
        border-width: 1px;
        border-color:darkred;
        border-Radius:3px;
        font-size: 18px;
    }
    .sign-button:hover{
        background-color:darkred;
        outline: none;
        color: white;
       border-width: 1px;
        border-color:darkred;
        border-Radius:3px;
        font-size: 18px;
    }

    .sign-button:focus{
        background-color:darkred;
        outline: none;
        color: white;
       border-width: 1px;
        border-color:darkred;
        border-Radius:3px;
        font-size: 18px;
    }

    .class-h4{
        background-color:white;
        outline: none;
        color: black;
        border-width: 1px;
        border-color:rgba(0,0,0,0);
        border-Radius:0px;
        font-size: 20px;
        font-weight:bold;
    }
     ul li{list-style: none}
    </style>
{% endblock %}

{% block exchangecontent %}
    <div class="row clearfix">
           <div class="row clearfix">
                <h2 class="text-center">{{ contentname }}</h2>
           </div>
            <div class="row clearfix" style="text-align: center;">
                <div class="row clearfix" style="text-align: center;">
                        <div class="col-md-12">
                            <h3>绑定提现微信</h3>
                            <HR>
                        </div>
                        {% if isbind %}
                            <div class="row">
                         <div class="col-md-4 col-md-offset-4">
                            <h4 class="text-center">您已绑定提现微信</h4>
                             {% if iswechatid %}
                                 <span><h5 class="pull-left">绑定微信账号:{{ wechatid }}&nbsp;&nbsp;<a herf="#" data-toggle="modal" data-target="#wechatmodel">改绑提现微信</a></h5></span>
                             {% else %}
                                <span><h5 class="pull-left">绑定微信账号:用户保密，未告知本网站&nbsp;&nbsp;<a herf="#" data-toggle="modal" data-target="#wechatmodel">改绑提现微信</a></h5></span>
                             {% endif %}
                         </div>
                        </div>
                        <div class="col-md-12">
                            <h3>微信提现</h3>
                            <HR>
                        </div>
                        <div class="row">
                             <div class="row">
                                 <div class="col-md-4">
                                <h4 class="text-center">账户余额:{{ balance | div:100 }}</h4>
                                 </div>
                                 <div class="col-md-4">
                                <h4 class="text-center">本日提现次数:{{ daytimes }}</h4>
                                 </div>
                                 <div class="col-md-4">
                                <h4 class="text-center">本月提现次数:{{ monthtimes }}</h4>
                                 </div>
                             </div>
                             <div class="row">
                            <form class='form-login' action="/wechatcash/" method="post">
                                {% csrf_token %}
                                 <p class="form-group">
                                    {{ wechatcash_form.cash.label_tag}}
                                    {{ wechatcash_form.cash}}
                                 </p>
                                 <p class="form-group">
                                     <span>{{ wechatcash_form.code }} <button id="getcode" type="button">获取验证码</button></span>
                                 </p>
                                <button type="submit" class="btn btn-primary center-block">提现</button>
                            </form>
                            </div>
                         </div>
                        <div class="row">
                            <h5 class="text-center">微信提现为即时到账，提现微信号实名认证请与缝芽网实名认证相同，否则提现不成功！</h5>
                            <h5 class="text-center">微信提现每天限一次，每月限三次，每次提现金额大于等于10元小于等于2000元！</h5>
                        </div>
                        </div>
                    {% else %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <h4 class="text-center"><strong>第一步：</strong>微信扫码绑定石缝芽数据微信公众号</h4>
                                        <h5 class="text-center">(已绑定可以省略该步)</h5>
                                        <br/>
                                    </div>
                                    <div class="row center-block"style="text-align: center;">
                                        <img src="{% static 'images/qrcode_for_fengyadata.jpg' %}" style="height:200px;width:200px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <h4 class="text-center"><strong>第二步：</strong>微信扫码授权绑定提现微信</h4>
                                        <br/>
                                        <br/>
                                    </div>
                                    <div class="row center-block"style="text-align: center;">
                                        <img src="{% static qrcodepath %}" style="height:200px;width:200px;">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="text-center">绑定提现微信请实名认证，并且实名认证与网站实名认证相同，否则无法提现！</h5>
                                    <h5 class="text-center">由于微信官方要求，提现微信必须关注微信公众号，因此未关注石缝芽官方公众号的微信无法绑定！</h5>
                                </div>
                            </div>
                    {% endif %}
                </div>

                <div class="modal fade" id="errorinfomodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	                        <div class="modal-dialog">
		                        <div class="modal-content">
			                        <div class="modal-header">
				                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					                                                                &times;
                                        </button>
				                        <h4 class="modal-title" id="myModalLabel">
					                               提示
                                        </h4>
			                        </div>
			                        <div class="modal-body">
                                        <h4 id="errorinfo" class="text-center"></h4>
			                        </div>
		                        </div><!-- /.modal-content -->
	                        </div><!-- /.modal -->
                 </div>

                <div class="modal fade" id="wechatmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">
                                    改绑提现微信
                                </h4>
                            </div>
                            <div class="modal-body">
                                 <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <h4 class="text-center"><strong>第一步：</strong>微信扫码绑定石缝芽数据微信公众号</h4>
                                        <h5 class="text-center">(已绑定可以省略该步)</h5>
                                        <br/>
                                    </div>
                                    <div class="row center-block"style="text-align: center;">
                                        <img src="{% static 'images/qrcode_for_fengyadata.jpg' %}" style="height:200px;width:200px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <h4 class="text-center"><strong>第二步：</strong>微信扫码授权绑定提现微信</h4>
                                        <br/>
                                        <br/>
                                        <br/>
                                    </div>
                                    <div class="row center-block"style="text-align: center;">
                                        <img src="{% static qrcodepath %}" style="height:200px;width:200px;">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <h5 class="text-center">绑定提现微信请实名认证，并且实名认证与网站实名认证相同，否则无法提现！</h5>
                                    <h5 class="text-center">由于微信官方要求，提现微信必须关注微信公众号，因此未关注石缝芽官方公众号的微信无法绑定！</h5>
                                </div>
                            </div>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                </div>
            </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
    var time = 60;
    var mytime;
     $('#getcode').click(function(){

            $.ajax({
            url: '/getcashcode/',
            type: 'POST',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                type:1,
            },
            success: function (ret) {
                if(ret == 1)
            {
                $("#errorinfo").text("发送成功，请登录邮箱获取，5分钟内有效！");
                $('#errorinfomodel').modal('show');
            }
            else if(ret == 0)
            {
                 $("#errorinfo").text("发送失败，请稍后再试，如多次失败请发送邮件到客服邮箱fengyadata@163.com！");
                $('#errorinfomodel').modal('show');
            }
            }
        })

            mytime = setInterval(go,1000);
            $("#getcode").attr("disabled","disabled");
            time = 60;
         });

         function go() {

        if (time>=0){
            var btntext = time + "秒后可重发激活码";
            $("#getcode").text(btntext);
        }else {
            clearInterval(mytime);
            var btntext = "获取激活码";
            $("#getcode").text(btntext);
            $("#getcode").removeAttr("disabled");
        }
        time--;
    }
    </script>
{% endblock %}