{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/superindex.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                 <ul id="main-nav" class="main-nav nav nav-tabs nav-stacked" style="">
                    <li>
                        <a href="#CenterSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-th-large"></i>
                            核心数据管理
                            <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                        </a>
                        <ul id="CenterSetting" class="nav nav-list secondmenu collapse" style="height: 0px;">
                            <li><a href="/center/"><i class="glyphicon glyphicon-tags"></i>&nbsp;添加数据</a></li>
                            <li><a href="/datamanage/"><i class="glyphicon glyphicon-align-justify"></i>&nbsp;核心数据列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-cog"></i>
                            文章管理
                            <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                        </a>
                        <ul id="systemSetting" class="nav nav-list secondmenu collapse" style="height: 0px;">
                            <li><a href="/articleadd/"><i class="glyphicon glyphicon-user"></i>&nbsp;添加文章</a></li>
                            <li><a href="/articlemanage/"><i class="glyphicon glyphicon-th-list"></i>&nbsp;文章列表</a></li>
                            <li><a href="/articlerecoverlist/"><i class="glyphicon glyphicon-edit"></i>&nbsp;恢复文章</a></li>
                        </ul>
                    </li>
                    <!--li>
                        <a href="#configSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-credit-card"></i>
                            配置管理
                                   <span class="pull-right glyphicon  glyphicon-chevron-toggle"></span>
                        </a>
                        <ul id="configSetting" class="nav nav-list secondmenu collapse in">
                            <li><a href="#"><i class="glyphicon glyphicon-globe"></i>&nbsp;全局缺省配置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-star-empty"></i>&nbsp;未开通用户配置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-star"></i>&nbsp;退订用户配置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-text-width"></i>&nbsp;试用用户配置</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-ok-circle"></i>&nbsp;开通用户配置</a></li>
                        </ul>
                    </li-->
                    <li>
                        <a href="#disSetting" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-globe"></i>
                            订单查看
							 <span class="pull-right glyphicon glyphicon-chevron-toggle"></span>
                        </a>
                        <ul id="disSetting" class="nav nav-list secondmenu collapse">
                            <li><a href="#"><i class="glyphicon glyphicon-th-list"></i>&nbsp;充值订单</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-pencil"></i>&nbsp;充值申诉订单</a></li>
                            <li><a href="/cashmanage/"><i class="glyphicon glyphicon-check"></i>&nbsp;提现审核</a></li>
                            <li><a href="/cashbank/"><i class="glyphicon glyphicon-euro"></i>&nbsp;提现打款</a></li>
                            <li><a href="/managecashlist/"><i class="glyphicon glyphicon-pencil"></i>&nbsp;提现记录</a></li>
                            <li><a href="/cashappeallist/"><i class="glyphicon glyphicon-pencil"></i>&nbsp;提现申诉订单</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#divideoprate" class="nav-header collapsed" data-toggle="collapse">
                            <i class="glyphicon glyphicon-bold"></i>
                            推广公众号操作
                            <span class="badge pull-right"></span>
                        </a>
                        <ul id="divideoprate" class="nav nav-list secondmenu collapse">
                            <li><a href="/activecode/"><i class="glyphicon glyphicon-th-list"></i>&nbsp;推广激活码生成</a></li>
                        </ul>
                        <!--ul id="dicSetting" class="nav nav-list secondmenu collapse">
                            <li><a href="#"><i class="glyphicon glyphicon-text-width"></i>&nbsp;关键字配置</a></li>
                        </ul-->
                    </li>
                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-fire"></i>
                            关于系统
                            <span class="badge pull-right"></span>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="col-md-10">
               {% block maincontent %}{% endblock %}
            </div>
        </div>
    </div>
    {% block js %}{% endblock %}
{% endblock %}