{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>提现微信绑定结果</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
    {% if success == 1 %}
        <div class="row text-center">
            <h2 style="color: red">恭喜您，提现微信绑定成功！</h2>
        </div>
        <div class="row text-center">
            {% if iswechatid %}
                <p>您成功的绑定了提现微信，提现微信号：{{ wechatid }}，刷新扫码界面即可继续提现！</p>
            {% else %}
                <p>您成功的绑定了提现微信，提现微信号您进行了保密，刷新扫码界面即可继续提现！</p>
            {% endif %}

        </div>
    {% else%}
        <div class="row text-center">
            <h2 style="color: limegreen">对不起，提现微信绑定失败！</h2>
        </div>
        <div class="row text-center">
            <p>{{ info }}</p>
    {% endif %}</div>
    </body>
</html>
